:root {
	--width: 2000px;
}
audio {
	display: none;
}
html, body, .box {
	height: 100%;
	min-height: 100%;
}
body {
	background: #9EDDFF;
	overflow: hidden;
	font-weight: 600;
}
.header {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
	margin-top: 2em;
}
.footer {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
	margin-bottom: 1em;
}
.key {
	font-weight: 100;
	font-style: italic;
}
.row {
	margin-top: 2em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 2em;
	width: 100%;
}
.button {
	text-wrap: nowrap;
	text-align: center;
	min-height: 100%;
	min-width: 7em;
	margin: 0em -.8em 0em -.8em;
	border-radius: .5em;
	line-height: 2em;
	cursor: pointer;
}
.black {
	border: .15em solid #101010;
	background-color: #505050;
	color: #F0F0F0;
}
.black:active, .black.active {
	background-color: #101010;
}
.white {
	border: .15em solid #909090;
	background-color: #F0F0F0;
	color: #101010;
}
.white:active, .white.active {
	background-color: #909090;
}
.gray {
	border: .15em solid transparent !important;
	background-color: #909090 !important;
	color: #F0F0F0 !important;
}
.box {
	display: flex;
	align-items: center;
	justify-content: center;
}
.rotate {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}
select {
	border: .15em solid #909090;
	background-color: #F0F0F0;
	color: #101010;
	text-wrap: nowrap;
	text-align: center;
	min-height: 3em;
	min-width: 10%;
	border-radius: .5em;
}
.circle {
	height: 0px;
	width: 0px;
	position: absolute;
	align-self: center;
	border-radius: 50%;
	animation-name: expand;
	animation-duration: 10s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-timing-function: ease-in;
}
@keyframes expand {
	from {
		height: 0px;
		width: 0px;
	}
	to {
		height: var(--width);
		width: var(--width);
	}
  }